# Build output (build/ incluido porque la profesora lo solicita para análisis)
dist/

# NetBeans
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
nbbuild/
nbdist/
.nb-gradle/

# SonarQube
.scannerwork/

# IDE
*.class
*.jar
*.war
*.ear

# Logs
*.log
